<div class="side-menu-container" ng-include="'view/side-menu.html'"></div>
<div class="page-main-container">
    <div class="ex-header">
        Experience
    </div>
    <div class="ex-content">
        <div class="ex-main-container">
            <h1 class="ex-company">Walmart Global Tech</h1>
            <h2 class="ex-designation">Senior Software Engineer</h2>
            <h4 class="ex-duration">Feburary 2019-Present</h4>
            <p class="ex-description">
                Working as a Software Engineer with the world's largest retailer, Walmart's Global eCommerce pillar. <br>
                <ul class="ex-description-ul">
                    <li>Working on Walmart's order processing and delivery integration system which links Merchants and Suppliers to Supply Chain platforms and processes upto 40,000 orders per minute during peak seasons</li>
                    <li>Engineering Walmart's next generation cost ingestion system for both stores and ecommerce suppliers which is responsible to process more than a million of cost updates per day </li>
                    <li>Working with some of Walmart's biggest data infrastructures to process both real time and batch data</li>
                    <li>Managing and writing code for high scale clusters of Spark, Flink, Cassandra, Solr, Swift, Zookeeper, Kafka and more in Walmart's BFD (Big-Fast Data) environment</li>
                    <li>Working with top notch engineers for writing critical components of various tech platforms at the full stack using Java, Python, Scala and JavascriptWorking</li>
                </ul>
            </p>
        </div>
        <div class="ex-main-container">
            <h1 class="ex-company">Mu Sigma</h1>
            <h2 class="ex-designation">Developer</h2>
            <h4 class="ex-duration">October 2015-January 2019</h4>
            <p class="ex-description">
                Responsible for fostering research and development of projects around scalable architectures, application software,
                machine learning, algorithms, etc. in the Innovation and Development (I&D) team. Key duties include: <br>
                <ul class="ex-description-ul">
                    <li>Ideaizing and designing Mu Sigma’s next generation products</li>
                    <li>Writing scalable mobile ready applications for Mu Sigma’s analytics ecosystem</li>
                    <li>Implementing back end functionalities such as REST APIs, business logic and database operations</li>
                    <li>Designing and implementing various components of the software architecture and working on required technologies</li>
                    <li>Writing unit test cases for both front and back end</li>
                    <li>Implementing algorithms using state of the art technologies</li>
                    <li>Research and implementation of scalable architectures on big data frameworks</li>
                    <li>Managing software build cycles and automating CI/CD pipelines</li>
                    <li>Training Mu Sigma’s fresh recruits on new technologies</li>
                </ul>
            </p>
        </div>
        <div class="ex-main-container">
            <div class="ex-sub-container">
                <h1 class="ex-company">NIIT</h1>
                <h2 class="ex-designation">Technical Trainer</h2>
                <h4 class="ex-duration">June 2015-September 2015</h4>
                <p class="ex-description">
                    Trained students on various domains including Java desktop, web, mobile, Python and Android.
                </p>
            </div>
            <div class="ex-sub-container">
                <h1 class="ex-company">Eulogik</h1>
                <h2 class="ex-designation">Development Intern</h2>
                <h4 class="ex-duration">June 2014-July 2014</h4>
                <p class="ex-description">
                    Worked on web technologies including CodeIgniter framework, Bootstrap 3 and Intel App Framework. Developed,
                    tested and assisted designing live projects for the company. These projects included web 2.0 applications and hybrid
                    HTML5 mobile applications.
                </p>
            </div>
        </div>
    </div>
</div>
