<div class="side-menu-container" ng-include="'view/side-menu.html'"></div>
<div class="page-main-container">
    <div class="pi-header">
        Personal Info
    </div>
    <div class="pi-content">
        <div class="pi-main-container">
            <table class="pi-table">
                <tr>
                    <td><i class="fa fa-map-marker"></i></td>
                    <td>Bengaluru, India</td>
                </tr>
                <tr>
                    <td><i class="fa fa-at"></i></td>
                    <td><a href="mailto:contact@piyushshrivastava.net">contact@piyushshrivastava.net</a></td>
                </tr>
                <tr>
                    <td><i class="fa fa-phone"></i></td>
                    <td>+91 9589517687</td>
                </tr>
                <tr>
                    <td><i class="fa fa-birthday-cake"></i></td>
                    <td>13th April 1993</td>
                </tr>
                <tr>
                    <td><i class="fa fa-download"></i></td>
                    <td><a href="Piyush_Shrivastava.pdf">Download Resume</a></td>
                </tr>
            </table>
        </div>
    </div>
</div>
