<div class="side-menu">
    <button class="btn btn-info fa fa-lg fa-bars menu-item" ng-click="route('/skills')" aria-hidden="true"></button>
    <button class="btn btn-info fa fa-lg fa-briefcase menu-item" ng-click="route('/experience')" aria-hidden="true"></button>
    <button class="btn btn-info fa fa-lg fa-file-code-o menu-item" ng-click="route('/projects')" aria-hidden="true"></button>
    <button class="btn btn-info fa fa-lg fa-home menu-item" ng-click="route('/home')" aria-hidden="true"></button>
    <button class="btn btn-info fa fa-lg fa-graduation-cap menu-item" ng-click="route('/education')" aria-hidden="true"></button>
    <button class="btn btn-info fa fa-lg fa-trophy menu-item" ng-click="route('/achievements')" aria-hidden="true"></button>
    <button class="btn btn-info fa fa-lg fa-info-circle menu-item" ng-click="route('/personal-info')" aria-hidden="true"></button>
</div>