<div class="side-menu-container" ng-include="'view/side-menu.html'"></div>
<div class="page-main-container">
    <div class="sk-header">
        Skills
    </div>
    <div class="sk-content">
        <div class="skill-bars-wrapper">

            <span class="sk-skills-type">Core Skills</span>

            <div class="skillbar clearfix " data-percent="90%">
                <div class="skillbar-title" style="background: #E36D00;"><span>Java</span></div>
                <div class="skillbar-bar" style="background: #cc8547;"></div>
                <div class="skill-bar-percent">90%</div>
            </div> <!-- End Skill Bar -->

            <div class="skillbar clearfix " data-percent="85%">
                <div class="skillbar-title" style="background: #EAE816;"><span>Javascript</span></div>
                <div class="skillbar-bar" style="background: #edeb7d;"></div>
                <div class="skill-bar-percent">60%</div>
            </div> <!-- End Skill Bar -->

            <div class="skillbar clearfix " data-percent="80%">
                <div class="skillbar-title" style="background: #3F61A2;"><span>Python</span></div>
                <div class="skillbar-bar" style="background: #6f7f9b;"></div>
                <div class="skill-bar-percent">80%</div>
            </div> <!-- End Skill Bar -->

            <span class="sk-skills-type">Frameworks and Concepts</span>

            <div class="skillbar clearfix " data-percent="60%">
                <div class="skillbar-title" style="background: #54BF3C;"><span>Spring</span></div>
                <div class="skillbar-bar" style="background: #71d35b;"></div>
                <div class="skill-bar-percent">90%</div>
            </div> <!-- End Skill Bar -->

            <div class="skillbar clearfix " data-percent="70%">
                <div class="skillbar-title" style="background: #DD0000;"><span>AngularJS</span></div>
                <div class="skillbar-bar" style="background: #f20000;"></div>
                <div class="skill-bar-percent">50%</div>
            </div> <!-- End Skill Bar -->

            <div class="skillbar clearfix " data-percent="90%">
                <div class="skillbar-title" style="background: #000000;"><span>RDBMS</span></div>
                <div class="skillbar-bar" style="background: #424141;"></div>
                <div class="skill-bar-percent">90%</div>
            </div> <!-- End Skill Bar -->

            <div class="skillbar clearfix " data-percent="50%">
                <div class="skillbar-title" style="background: #124e8c;"><span>Big Data</span></div>
                <div class="skillbar-bar" style="background: #4288d0;"></div>
                <div class="skill-bar-percent">70%</div>
            </div> <!-- End Skill Bar -->
        </div>
    </div>
</div>
